In [3]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [2]:
todas_tablas=pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
df=todas_tablas[12]

todas_tablas[12].rename(columns={todas_tablas[12].columns[1]:'Team'})
todas_tablas[12]

,Pos,"Team.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:""[ ""}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:"" ]""}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte",Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Qatar (H),0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Ecuador,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Senegal,0,0,0,0,0,0,0,0,NaN
3,4,Netherlands,0,0,0,0,0,0,0,0,NaN

In [4]:
#todas_tablas=pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
dict_table={}
for letra,i in zip(alfabeto,range(12,68,7)):
    df=todas_tablas[i]
    df.rename(columns={df.columns[1]:'Team'},inplace=True)
    try:
        df.pop('Qualification')
    except:
        pass

    dict_table[f'Grupo {letra}']= df

In [5]:
dict_table

{'Grupo A':    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1    Qatar (H)    0  0  0  0   0   0   0    0
 1    2      Ecuador    0  0  0  0   0   0   0    0
 2    3      Senegal    0  0  0  0   0   0   0    0
 3    4  Netherlands    0  0  0  0   0   0   0    0,
 'Grupo B':    Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1        England    0  0  0  0   0   0   0    0
 1    2           Iran    0  0  0  0   0   0   0    0
 2    3  United States    0  0  0  0   0   0   0    0
 3    4          Wales    0  0  0  0   0   0   0    0,
 'Grupo C':    Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1     Argentina    0  0  0  0   0   0   0    0
 1    2  Saudi Arabia    0  0  0  0   0   0   0    0
 2    3        Mexico    0  0  0  0   0   0   0    0
 3    4        Poland    0  0  0  0   0   0   0    0,
 'Grupo D':    Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1     France    0  0  0  0   0   0   0    0
 1    2  Australia    0  0  0  0   0   0   0    0
 2    3    Denmark    0  0  0  0   0   0   0    0
 3    4    Tunisia    0  0  0  0   0   0   0    0,
 'Grupo E':    Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1       Spain    0  0  0  0   0   0   0    0
 1    2  Costa Rica    0  0  0  0   0   0   0    0
 2    3     Germany    0  0  0  0   0   0   0    0
 3    4       Japan    0  0  0  0   0   0   0    0,
 'Grupo F':    Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1  Belgium    0  0  0  0   0   0   0    0
 1    2   Canada    0  0  0  0   0   0   0    0
 2    3  Morocco    0  0  0  0   0   0   0    0
 3    4  Croatia    0  0  0  0   0   0   0    0,
 'Grupo G':    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1       Brazil    0  0  0  0   0   0   0    0
 1    2       Serbia    0  0  0  0   0   0   0    0
 2    3  Switzerland    0  0  0  0   0   0   0    0
 3    4     Cameroon    0  0  0  0   0   0   0    0,
 'Grupo H':    Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
 0    1     Portugal    0  0  0  0   0   0   0    0
 1    2        Ghana    0  0  0  0   0   0   0    0
 2    3      Uruguay    0  0  0  0   0   0   0    0
 3    4  South Korea    0  0  0  0   0   0   0    0}

In [6]:
with open('dict_table','wb') as output:
    pickle.dump(dict_table,output)

### Extraer los partidos jugados de todos los mundiales

In [7]:
years = [1930,1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

In [8]:
web='https://en.wikipedia.org/wiki/2014_FIFA_World_Cup'

In [9]:
import requests
from bs4 import BeautifulSoup

In [10]:
response=requests.get(web)
content =response.text
soup=BeautifulSoup(content,'lxml')

matches = soup.find_all('div',class_='footballbox')

home=[]
away=[]
score=[]

for match in matches:
    home.append(match.find('th',class_='fhome').get_text())
    score.append(match.find('th',class_='fscore').get_text())
    away.append(match.find('th',class_='faway').get_text())

dict_football={'home':home,'score':score,'away':away}

df_football=pd.DataFrame(dict_football)
df_football['year']='2014'
print(df_football)

            home         score          away  year
0        Brazil            3–1       Croatia  2014
1        Mexico            1–0      Cameroon  2014
2        Brazil            0–0        Mexico  2014
3      Cameroon            0–4       Croatia  2014
4      Cameroon            1–4        Brazil  2014
..           ...           ...           ...   ...
59  Netherlands   0–0 (a.e.t.)    Costa Rica  2014
60       Brazil            1–7       Germany  2014
61  Netherlands   0–0 (a.e.t.)     Argentina  2014
62       Brazil            0–3   Netherlands  2014
63      Germany   1–0 (a.e.t.)     Argentina  2014

[64 rows x 4 columns]

In [11]:
def get_matches():

    home=[]
    away=[]
    score=[]
    year_table=[]
    for year in years:
        web=f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
        response=requests.get(web)
        content =response.text
        soup=BeautifulSoup(content,'lxml')
        matches = soup.find_all('div',class_='footballbox')
        for match in matches:
            home.append(match.find('th',class_='fhome').get_text())
            score.append(match.find('th',class_='fscore').get_text())
            away.append(match.find('th',class_='faway').get_text())
            year_table.append(year)
    dict_football={'home':home,'score':score,'away':away,'year':year_table}
    df_football=pd.DataFrame(dict_football)
    return df_football
    


df_matches=get_matches()
df_matches.to_csv('All_matches_historical_data.csv')

In [12]:
def extract_from_matches_for_years(year):
    df_matches=get_matches()
    df_matches['year']=df_matches['year'].astype(int)
    df_matches=df_matches[df_matches['year']==year]
    df_matches['home_score']=df_matches['score'].apply(lambda x: x.split('-')[0])
    df_matches['away_score']=df_matches['score'].apply(lambda x: x.split('-')[1])
    return df_matches

In [13]:
web='https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup'
response=requests.get(web)
content =response.text
soup=BeautifulSoup(content,'lxml')

matches = soup.find_all('div',class_='footballbox')

home=[]
away=[]
score=[]

for match in matches:
    home.append(match.find('th',class_='fhome').get_text())
    score.append(match.find('th',class_='fscore').get_text())
    away.append(match.find('th',class_='faway').get_text())

dict_football={'home':home,'score':score,'away':away}

df_football=pd.DataFrame(dict_football)
df_football['year']='2022'
print(df_football)

df_football.to_csv('Fixture.csv')

                home     score              away  year
0             Qatar    Match 1           Ecuador  2022
1           Senegal    Match 2       Netherlands  2022
2             Qatar   Match 18           Senegal  2022
3       Netherlands   Match 19           Ecuador  2022
4           Ecuador   Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

## Obtener los partidos con Selenium

In [95]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import time

path = 'C:/Users/Facundo/Documents/chromedriver.exe'

service = Service(executable_path=path)
driver = webdriver.Chrome(service=service)
web='https://en.wikipedia.org/wiki/1982_FIFA_World_Cup'
years = [1930,1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

def get_info_of_date(year):
    web=f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'
    driver.get(web)
    matches=driver.find_elements(by='xpath',value='//tr[@itemprop="name"] | //tr[@style="font-size:90%"]')    #print(matches)
    home=[]
    score=[]
    away=[]
    for match in matches:
        home.append(match.find_element(by='xpath', value='./th[1] | ./td[1]').text)
        score.append(match.find_element(by='xpath', value='./th[2] | ./td[2]').text)
        away.append(match.find_element(by='xpath', value='./th[3] | ./td[3]').text)

    dict_football={'home':home,'score':score,'away':away}
    df_football=pd.DataFrame(dict_football)
    df_football['year']=year
    time.sleep(2)
    return df_football

    
fifa_matches=[get_info_of_date(year) for year in years]
df_fifa_matches=pd.concat(fifa_matches, ignore_index=True)

df_fifa_matches.to_csv('All_matches_historical_data_selenium.csv')



driver.quit()

In [63]:
fifa_matches

[              home score            away  year
 0          France    4–1          Mexico  1930
 1       Argentina    1–0          France  1930
 2           Chile    3–0          Mexico  1930
 3           Chile    1–0          France  1930
 4       Argentina    6–3          Mexico  1930
 5       Argentina    3–1           Chile  1930
 6      Yugoslavia    2–1          Brazil  1930
 7      Yugoslavia    4–0         Bolivia  1930
 8          Brazil    4–0         Bolivia  1930
 9         Romania    3–1            Peru  1930
 10        Uruguay    1–0            Peru  1930
 11        Uruguay    4–0         Romania  1930
 12  United States    3–0         Belgium  1930
 13  United States    3–0        Paraguay  1930
 14       Paraguay    1–0         Belgium  1930
 15      Argentina    6–1   United States  1930
 16        Uruguay    6–1      Yugoslavia  1930
 17        Uruguay    4–2       Argentina  1930,
                home         score             away  year
 0            Spain            3–1           Brazil  1934
 1          Hungary            4–2            Egypt  1934
 2      Switzerland            3–2      Netherlands  1934
 3            Italy            7–1    United States  1934
 4   Czechoslovakia            2–1          Romania  1934
 5           Sweden            3–2        Argentina  1934
 6          Austria   3–2 (a.e.t.)           France  1934
 7          Germany            5–2          Belgium  1934
 8          Austria            2–1          Hungary  1934
 9            Italy   1–1 (a.e.t.)            Spain  1934
 10         Germany            2–1           Sweden  1934
 11  Czechoslovakia            3–2      Switzerland  1934
 12           Italy            1–0            Spain  1934
 13           Italy            1–0          Austria  1934
 14  Czechoslovakia            3–1          Germany  1934
 15         Germany            3–2          Austria  1934
 16           Italy   2–1 (a.e.t.)   Czechoslovakia  1934,
                home         score                away  year
 0      Switzerland   1–1 (a.e.t.)             Germany  1938
 1          Hungary            6–0   Dutch East Indies  1938
 2           Sweden         w/o[a]             Austria  1938
 3             Cuba   3–3 (a.e.t.)             Romania  1938
 4           France            3–1             Belgium  1938
 5            Italy   2–1 (a.e.t.)              Norway  1938
 6           Brazil   6–5 (a.e.t.)              Poland  1938
 7   Czechoslovakia   3–0 (a.e.t.)         Netherlands  1938
 8      Switzerland            4–2             Germany  1938
 9             Cuba            2–1             Romania  1938
 10         Hungary            2–0         Switzerland  1938
 11          Sweden            8–0                Cuba  1938
 12           Italy            3–1              France  1938
 13          Brazil   1–1 (a.e.t.)      Czechoslovakia  1938
 14          Brazil            2–1      Czechoslovakia  1938
 15         Hungary            5–1              Sweden  1938
 16           Italy            2–1              Brazil  1938
 17          Brazil            4–2              Sweden  1938
 18           Italy            4–2             Hungary  1938,
               home score            away  year
 0          Brazil    4–0          Mexico  1950
 1      Yugoslavia    3–0     Switzerland  1950
 2          Brazil    2–2     Switzerland  1950
 3      Yugoslavia    4–1          Mexico  1950
 4          Brazil    2–0      Yugoslavia  1950
 5     Switzerland    2–1          Mexico  1950
 6         England    2–0           Chile  1950
 7           Spain    3–1   United States  1950
 8           Spain    2–0           Chile  1950
 9   United States    1–0         England  1950
 10          Spain    1–0         England  1950
 11          Chile    5–2   United States  1950
 12         Sweden    3–2           Italy  1950
 13         Sweden    2–2        Paraguay  1950
 14          Italy    2–0        Paraguay  1950
 15        Uruguay    8–0         Bolivia  1950
 16        Uruguay    2–2           Spain  1950
 17         Brazil    7–1          Sweden  1950
 18         Brazil    6–1           Spain  1950
 19        Uruguay    3–2          Sweden  1950
 20         Sweden    3–1           Spain  1950
 21        Uruguay    2–1          Brazil  1950,
              home         score             away  year
 0         Brazil            5–0           Mexico  1954
 1     Yugoslavia            1–0           France  1954
 2         Brazil   1–1 (a.e.t.)       Yugoslavia  1954
 3         France            3–2           Mexico  1954
 4   West Germany            4–1           Turkey  1954
 5        Hungary            9–0      South Korea  1954
 6        Hungary            8–3     West Germany  1954
 7         Turkey            7–0      South Korea  1954
 8   West Germany            7–2           Turkey  1954
 9        Uruguay            2–0   Czechoslovakia  1954
 10       Austria            1–0         Scotland  1954
 11       Uruguay            7–0         Scotland  1954
 12       Austria            5–0   Czechoslovakia  1954
 13   Switzerland            2–1            Italy  1954
 14       England   4–4 (a.e.t.)          Belgium  1954
 15         Italy            4–1          Belgium  1954
 16       England            2–0      Switzerland  1954
 17   Switzerland            4–1            Italy  1954
 18       Austria            7–5      Switzerland  1954
 19       Uruguay            4–2          England  1954
 20  West Germany            2–0       Yugoslavia  1954
 21       Hungary            4–2           Brazil  1954
 22  West Germany            6–1          Austria  1954
 23       Hungary   4–2 (a.e.t.)          Uruguay  1954
 24       Austria            3–1          Uruguay  1954
 25  West Germany            3–2          Hungary  1954,
                  home         score               away  year
 0          Argentina            1–3       West Germany  1958
 1   Northern Ireland            1–0     Czechoslovakia  1958
 2       West Germany            2–2     Czechoslovakia  1958
 3          Argentina            3–1   Northern Ireland  1958
 4       West Germany            2–2   Northern Ireland  1958
 5     Czechoslovakia            6–1          Argentina  1958
 6   Northern Ireland   2–1 (a.e.t.)     Czechoslovakia  1958
 7             France            7–3           Paraguay  1958
 8         Yugoslavia            1–1           Scotland  1958
 9         Yugoslavia            3–2             France  1958
 10          Paraguay            3–2           Scotland  1958
 11            France            2–1           Scotland  1958
 12          Paraguay            3–3         Yugoslavia  1958
 13            Sweden            3–0             Mexico  1958
 14           Hungary            1–1              Wales  1958
 15            Mexico            1–1              Wales  1958
 16            Sweden            2–1            Hungary  1958
 17            Sweden            0–0              Wales  1958
 18           Hungary            4–0             Mexico  1958
 19             Wales            2–1            Hungary  1958
 20            Brazil            3–0            Austria  1958
 21      Soviet Union            2–2            England  1958
 22            Brazil            0–0            England  1958
 23      Soviet Union            2–0            Austria  1958
 24           England            2–2            Austria  1958
 25            Brazil            2–0       Soviet Union  1958
 26      Soviet Union            1–0            England  1958
 27            Brazil            1–0              Wales  1958
 28            France            4–0   Northern Ireland  1958
 29            Sweden            2–0       Soviet Union  1958
 30      West Germany            1–0         Yugoslavia  1958
 31            Brazil            5–2             France  1958
 32            Sweden            3–1       West Germany  1958
 33            France            6–3       West Germany  1958
 34            Brazil            5–2             Sweden  1958,
                home score             away  year
 0          Uruguay    2–1         Colombia  1962
 1     Soviet Union    2–0       Yugoslavia  1962
 2       Yugoslavia    3–1          Uruguay  1962
 3     Soviet Union    4–4         Colombia  1962
 4     Soviet Union    2–1          Uruguay  1962
 5       Yugoslavia    5–0         Colombia  1962
 6            Chile    3–1      Switzerland  1962
 7     West Germany    0–0            Italy  1962
 8            Chile    2–0            Italy  1962
 9     West Germany    2–1      Switzerland  1962
 10    West Germany    2–0            Chile  1962
 11           Italy    3–0      Switzerland  1962
 12          Brazil    2–0           Mexico  1962
 13  Czechoslovakia    1–0            Spain  1962
 14          Brazil    0–0   Czechoslovakia  1962
 15           Spain    1–0           Mexico  1962
 16          Brazil    2–1            Spain  1962
 17          Mexico    3–1   Czechoslovakia  1962
 18       Argentina    1–0         Bulgaria  1962
 19         Hungary    2–1          England  1962
 20         England    3–1        Argentina  1962
 21         Hungary    6–1         Bulgaria  1962
 22         Hungary    0–0        Argentina  1962
 23         England    0–0         Bulgaria  1962
 24           Chile    2–1     Soviet Union  1962
 25  Czechoslovakia    1–0          Hungary  1962
 26          Brazil    3–1          England  1962
 27      Yugoslavia    1–0     West Germany  1962
 28  Czechoslovakia    3–1       Yugoslavia  1962
 29          Brazil    4–2            Chile  1962
 30           Chile    1–0       Yugoslavia  1962
 31          Brazil    3–1   Czechoslovakia  1962,
              home         score           away  year
 0        England            0–0        Uruguay  1966
 1         France            1–1         Mexico  1966
 2        Uruguay            2–1         France  1966
 3        England            2–0         Mexico  1966
 4         Mexico            0–0        Uruguay  1966
 5        England            2–0         France  1966
 6   West Germany            5–0    Switzerland  1966
 7      Argentina            2–1          Spain  1966
 8          Spain            2–1    Switzerland  1966
 9      Argentina            0–0   West Germany  1966
 10     Argentina            2–0    Switzerland  1966
 11  West Germany            2–1          Spain  1966
 12        Brazil            2–0       Bulgaria  1966
 13      Portugal            3–1        Hungary  1966
 14       Hungary            3–1         Brazil  1966
 15      Portugal            3–0       Bulgaria  1966
 16      Portugal            3–1         Brazil  1966
 17       Hungary            3–1       Bulgaria  1966
 18  Soviet Union            3–0    North Korea  1966
 19         Italy            2–0          Chile  1966
 20         Chile            1–1    North Korea  1966
 21  Soviet Union            1–0          Italy  1966
 22   North Korea            1–0          Italy  1966
 23  Soviet Union            2–1          Chile  1966
 24       England            1–0      Argentina  1966
 25  West Germany            4–0        Uruguay  1966
 26  Soviet Union            2–1        Hungary  1966
 27      Portugal            5–3    North Korea  1966
 28  West Germany            2–1   Soviet Union  1966
 29       England            2–1       Portugal  1966
 30      Portugal            2–1   Soviet Union  1966
 31       England   4–2 (a.e.t.)   West Germany  1966,
                home         score             away  year
 0           Mexico            0–0     Soviet Union  1970
 1          Belgium            3–0      El Salvador  1970
 2     Soviet Union            4–1          Belgium  1970
 3           Mexico            4–0      El Salvador  1970
 4     Soviet Union            2–0      El Salvador  1970
 5           Mexico            1–0          Belgium  1970
 6          Uruguay            2–0           Israel  1970
 7            Italy            1–0           Sweden  1970
 8          Uruguay            0–0            Italy  1970
 9           Sweden            1–1           Israel  1970
 10         Uruguay            0–1           Sweden  1970
 11          Israel            0–0            Italy  1970
 12         Romania            0–1          England  1970
 13  Czechoslovakia            1–4           Brazil  1970
 14         Romania            2–1   Czechoslovakia  1970
 15         England            0–1           Brazil  1970
 16         Romania            2–3           Brazil  1970
 17         England            1–0   Czechoslovakia  1970
 18            Peru            3–2         Bulgaria  1970
 19    West Germany            2–1          Morocco  1970
 20            Peru            3–0          Morocco  1970
 21    West Germany            5–2         Bulgaria  1970
 22    West Germany            3–1             Peru  1970
 23        Bulgaria            1–1          Morocco  1970
 24    Soviet Union   0–1 (a.e.t.)          Uruguay  1970
 25           Italy            4–1           Mexico  1970
 26          Brazil            4–2             Peru  1970
 27    West Germany   3–2 (a.e.t.)          England  1970
 28         Uruguay            1–3           Brazil  1970
 29           Italy   4–3 (a.e.t.)     West Germany  1970
 30         Uruguay            0–1     West Germany  1970
 31          Brazil            4–1            Italy  1970,
              home score           away  year
 0   West Germany    1–0          Chile  1974
 1   East Germany    2–0      Australia  1974
 2      Australia    0–3   West Germany  1974
 3          Chile    1–1   East Germany  1974
 4      Australia    0–0          Chile  1974
 5   East Germany    1–0   West Germany  1974
 6         Brazil    0–0     Yugoslavia  1974
 7          Zaire    0–2       Scotland  1974
 8       Scotland    0–0         Brazil  1974
 9     Yugoslavia    9–0          Zaire  1974
 10      Scotland    1–1     Yugoslavia  1974
 11         Zaire    0–3         Brazil  1974
 12       Uruguay    0–2    Netherlands  1974
 13        Sweden    0–0       Bulgaria  1974
 14      Bulgaria    1–1        Uruguay  1974
 15   Netherlands    0–0         Sweden  1974
 16      Bulgaria    1–4    Netherlands  1974
 17        Sweden    3–0        Uruguay  1974
 18         Italy    3–1          Haiti  1974
 19        Poland    3–2      Argentina  1974
 20     Argentina    1–1          Italy  1974
 21         Haiti    0–7         Poland  1974
 22     Argentina    4–1          Haiti  1974
 23        Poland    2–1          Italy  1974
 24   Netherlands    4–0      Argentina  1974
 25        Brazil    1–0   East Germany  1974
 26     Argentina    1–2         Brazil  1974
 27  East Germany    0–2    Netherlands  1974
 28     Argentina    1–1   East Germany  1974
 29   Netherlands    2–0         Brazil  1974
 30    Yugoslavia    0–2   West Germany  1974
 31        Sweden    0–1         Poland  1974
 32        Poland    2–1     Yugoslavia  1974
 33  West Germany    4–2         Sweden  1974
 34        Poland    0–1   West Germany  1974
 35        Sweden    2–1     Yugoslavia  1974
 36        Brazil    0–1         Poland  1974
 37   Netherlands    1–2   West Germany  1974,
              home         score           away  year
 0          Italy            2–1         France  1978
 1      Argentina            2–1        Hungary  1978
 2          Italy            3–1        Hungary  1978
 3      Argentina            2–1         France  1978
 4         France            3–1        Hungary  1978
 5      Argentina            0–1          Italy  1978
 6   West Germany            0–0         Poland  1978
 7        Tunisia            3–1         Mexico  1978
 8   West Germany            6–0         Mexico  1978
 9         Poland            1–0        Tunisia  1978
 10  West Germany            0–0        Tunisia  1978
 11        Poland            3–1         Mexico  1978
 12       Austria            2–1          Spain  1978
 13        Brazil            1–1         Sweden  1978
 14       Austria            1–0         Sweden  1978
 15        Brazil            0–0          Spain  1978
 16         Spain            1–0         Sweden  1978
 17        Brazil            1–0        Austria  1978
 18          Peru            3–1       Scotland  1978
 19   Netherlands            3–0           Iran  1978
 20      Scotland            1–1           Iran  1978
 21   Netherlands            0–0           Peru  1978
 22          Peru            4–1           Iran  1978
 23      Scotland            3–2    Netherlands  1978
 24       Austria            1–5    Netherlands  1978
 25         Italy            0–0   West Germany  1978
 26   Netherlands            2–2   West Germany  1978
 27         Italy            1–0        Austria  1978
 28       Austria            3–2   West Germany  1978
 29         Italy            1–2    Netherlands  1978
 30          Peru            0–3         Brazil  1978
 31     Argentina            2–0         Poland  1978
 32          Peru            0–1         Poland  1978
 33     Argentina            0–0         Brazil  1978
 34        Poland            1–3         Brazil  1978
 35     Argentina            6–0           Peru  1978
 36        Brazil            2–1          Italy  1978
 37     Argentina   3–1 (a.e.t.)    Netherlands  1978,
                home         score               away  year
 0            Italy            0–0             Poland  1982
 1             Peru            0–0           Cameroon  1982
 2            Italy            1–1               Peru  1982
 3           Poland            0–0           Cameroon  1982
 4           Poland            5–1               Peru  1982
 5            Italy            1–1           Cameroon  1982
 6     West Germany            1–2            Algeria  1982
 7            Chile            0–1            Austria  1982
 8     West Germany            4–1              Chile  1982
 9          Algeria            0–2            Austria  1982
 10         Algeria            3–2              Chile  1982
 11    West Germany            1–0            Austria  1982
 12       Argentina            0–1            Belgium  1982
 13         Hungary           10–1        El Salvador  1982
 14       Argentina            4–1            Hungary  1982
 15         Belgium            1–0        El Salvador  1982
 16         Belgium            1–1            Hungary  1982
 17       Argentina            2–0        El Salvador  1982
 18         England            3–1             France  1982
 19  Czechoslovakia            1–1             Kuwait  1982
 20         England            2–0     Czechoslovakia  1982
 21          France            4–1             Kuwait  1982
 22          France            1–1     Czechoslovakia  1982
 23         England            1–0             Kuwait  1982
 24           Spain            1–1           Honduras  1982
 25      Yugoslavia            0–0   Northern Ireland  1982
 26           Spain            2–1         Yugoslavia  1982
 27        Honduras            1–1   Northern Ireland  1982
 28        Honduras            0–1         Yugoslavia  1982
 29           Spain            0–1   Northern Ireland  1982
 30          Brazil            2–1       Soviet Union  1982
 31        Scotland            5–2        New Zealand  1982
 32          Brazil            4–1           Scotland  1982
 33    Soviet Union            3–0        New Zealand  1982
 34    Soviet Union            2–2           Scotland  1982
 35          Brazil            4–0        New Zealand  1982
 36          Poland            3–0            Belgium  1982
 37         Belgium            0–1       Soviet Union  1982
 38    Soviet Union            0–0             Poland  1982
 39    West Germany            0–0            England  1982
 40    West Germany            2–1              Spain  1982
 41           Spain            0–0            England  1982
 42           Italy            2–1          Argentina  1982
 43       Argentina            1–3             Brazil  1982

## Limpieza de datos

In [96]:
import pandas as pd

In [145]:
df_data_matches=pd.read_csv('All_matches_historical_data_selenium.csv')
df_data_fixture=pd.read_csv('Fixture.csv')
df_data_fixture['home']=df_data_fixture['home'].str.strip()
df_data_fixture['away']=df_data_fixture['away'].str.strip()
print(len(df_data_matches))
df_data_matches.dropna(inplace=True)

index_delete=df_data_matches[df_data_matches['home'].str.contains('Sweden') &
                df_data_matches['away'].str.contains('Austria')].index

df_data_matches.drop(index=index_delete,inplace=True)

df_data_matches['score']=df_data_matches['score'].str.replace('[^\d–]', '',regex=True)
df_data_matches['score']=df_data_matches['score'].str.replace('[–]', '-',regex=True)

df_data_matches

901

     Unnamed: 0        home score      away  year
0             0     France    4-1    Mexico  1930
1             1  Argentina    1-0    France  1930
2             2      Chile    3-0    Mexico  1930
3             3      Chile    1-0    France  1930
4             4  Argentina    6-3    Mexico  1930
..          ...         ...   ...       ...   ...
896         896     Russia    2-2   Croatia  2018
897         897     France    1-0   Belgium  2018
898         898    Croatia    2-1   England  2018
899         899    Belgium    2-0   England  2018
900         900     France    4-2   Croatia  2018

[900 rows x 5 columns]

In [146]:
df_data_matches['home']=df_data_matches['home'].str.strip()
df_data_matches['away']=df_data_matches['away'].str.strip()
df_data_matches

     Unnamed: 0       home score     away  year
0             0     France   4-1   Mexico  1930
1             1  Argentina   1-0   France  1930
2             2      Chile   3-0   Mexico  1930
3             3      Chile   1-0   France  1930
4             4  Argentina   6-3   Mexico  1930
..          ...        ...   ...      ...   ...
896         896     Russia   2-2  Croatia  2018
897         897     France   1-0  Belgium  2018
898         898    Croatia   2-1  England  2018
899         899    Belgium   2-0  England  2018
900         900     France   4-2  Croatia  2018

[900 rows x 5 columns]

In [147]:
df_data_matches[['Homegoals','Awaygoals']]=df_data_matches['score'].str.split('-',expand=True)

In [148]:
df_data_matches.drop('score',axis=1,inplace=True)

In [149]:
df_data_matches.dtypes

Unnamed: 0     int64
home          object
away          object
year           int64
Homegoals     object
Awaygoals     object
dtype: object

In [150]:
df_data_matches=df_data_matches.astype({'Homegoals':int,'Awaygoals':int})

In [151]:
df_data_matches.dtypes

Unnamed: 0     int64
home          object
away          object
year           int64
Homegoals      int32
Awaygoals      int32
dtype: object

In [155]:
df_data_fixture.to_csv('Fixture_cleaned.csv',index=False)
df_data_matches.to_csv('All_matches_historical_data_selenium_cleaned.csv',index=False)

In [156]:
years = [1930,1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

for year in years:
    print(year,len(df_data_matches[df_data_matches['year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64

### Generando el modelo

In [1]:
import pandas as pd
import pickle
from scipy.stats import poisson

In [27]:
dict_table=pickle.load(open('dict_table','rb'))
df_data_matches=pd.read_csv('all_matches_historical_data_selenium_cleaned.csv')
df_data_fixture=pd.read_csv('Fixture_cleaned.csv')

In [35]:
dict_table.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H'])

In [8]:
df_home=df_data_matches[['home','Homegoals','Awaygoals']]
df_away=df_data_matches[['away','Awaygoals','Homegoals']]

df_home=df_home.rename(columns={'home':'Team','Homegoals':'goalscored','Awaygoals':'goalsconceded'})
df_away=df_away.rename(columns={'away':'Team','Homegoals':'goalsconceded','Awaygoals':'goalscored'})

df_team_strenght=pd.concat([df_home,df_away],ignore_index=True).groupby('Team').mean()

df_team_strenght

              goalscored  goalsconceded
Team
Algeria         1.000000       1.461538
Angola          0.333333       0.666667
Argentina       1.691358       1.148148
Australia       0.812500       1.937500
Austria         1.482759       1.620690
...                  ...            ...
Uruguay         1.553571       1.321429
Wales           0.800000       0.800000
West Germany    2.112903       1.241935
Yugoslavia      1.666667       1.272727
Zaire           0.000000       4.666667

[85 rows x 2 columns]

### Function predict_point

In [12]:
def predidct_points(home,away):
    if home in df_team_strenght.index and away in df_team_strenght.index:
        lambda_home=df_team_strenght.at[home,'goalscored']*df_team_strenght.at[away,'goalsconceded']
        lambda_away=df_team_strenght.at[away,'goalscored']*df_team_strenght.at[home,'goalsconceded']
        prob_home,prob_away,prob_draw= 0,0,0
        for x in range(0,11):
            for y in range(0,11):
                p=poisson.pmf(x,lambda_home)*poisson.pmf(y,lambda_away)

                if x>y:
                    prob_home+=p
                elif x<y:
                    prob_away+=p
                else:
                    prob_draw+=p
        points_home=3*prob_home+prob_draw
        points_away=3*prob_away+prob_draw
        return points_home,points_away
    else:
        return(0,0)

### Testear funcion

In [14]:
predidct_points('Argentina','Mexico')

(2.3129151525530505, 0.5378377125059863)

In [19]:
dict_table['Grupo A'].keys()

Index(['Pos', 'Team', 'Pld', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts'], dtype='object')

## Prediciendo el mundial

In [21]:
df_fixture_groups=df_data_fixture[:48].copy()
df_fixture_knockout=df_data_fixture[48:56].copy()
df_fixture_quarter=df_data_fixture[56:60].copy()
df_fixture_semi=df_data_fixture[60:62].copy()
df_fixture_final=df_data_fixture[62:].copy()

    Unnamed: 0           home     score           away  year
0            0          Qatar   Match 1        Ecuador  2022
1            1        Senegal   Match 2    Netherlands  2022
2            2          Qatar  Match 18        Senegal  2022
3            3    Netherlands  Match 19        Ecuador  2022
4            4        Ecuador  Match 35        Senegal  2022
5            5    Netherlands  Match 36          Qatar  2022
6            6        England   Match 3           Iran  2022
7            7  United States   Match 4          Wales  2022
8            8          Wales  Match 17           Iran  2022
9            9        England  Match 20  United States  2022
10          10          Wales  Match 33        England  2022
11          11           Iran  Match 34  United States  2022
12          12      Argentina   Match 8   Saudi Arabia  2022
13          13         Mexico   Match 7         Poland  2022
14          14         Poland  Match 22   Saudi Arabia  2022
15          15      Argentina  Match 24         Mexico  2022
16          16         Poland  Match 39      Argentina  2022
17          17   Saudi Arabia  Match 40         Mexico  2022
18          18        Denmark   Match 6        Tunisia  2022
19          19         France   Match 5      Australia  2022
20          20        Tunisia  Match 21      Australia  2022
21          21         France  Match 23        Denmark  2022
22          22      Australia  Match 37        Denmark  2022
23          23        Tunisia  Match 38         France  2022
24          24        Germany  Match 11          Japan  2022
25          25          Spain  Match 10     Costa Rica  2022
26          26          Japan  Match 25     Costa Rica  2022
27          27          Spain  Match 28        Germany  2022
28          28          Japan  Match 43          Spain  2022
29          29     Costa Rica  Match 44        Germany  2022
30          30        Morocco  Match 12        Croatia  2022
31          31        Belgium   Match 9         Canada  2022
32          32        Belgium  Match 26        Morocco  2022
33          33        Croatia  Match 27         Canada  2022
34          34        Croatia  Match 41        Belgium  2022
35          35         Canada  Match 42        Morocco  2022
36          36    Switzerland  Match 13       Cameroon  2022
37          37         Brazil  Match 16         Serbia  2022
38          38       Cameroon  Match 29         Serbia  2022
39          39         Brazil  Match 31    Switzerland  2022
40          40         Serbia  Match 47    Switzerland  2022
41          41       Cameroon  Match 48         Brazil  2022
42          42        Uruguay  Match 14    South Korea  2022
43          43       Portugal  Match 15          Ghana  2022
44          44    South Korea  Match 30          Ghana  2022
45          45       Portugal  Match 32        Uruguay  2022
46          46          Ghana  Match 45        Uruguay  2022
47          47    South Korea  Match 46       Portugal  2022

In [29]:
for group in dict_table:
    teams_in_group=dict_table[group]['Team'].values

    df_fixture_group_6=df_fixture_groups[df_fixture_groups['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home,away=row['home'],row['away']
        points_home,points_away=predidct_points(home,away)
        dict_table[group].loc[dict_table[group]['Team']==home,'Pts']+=points_home
        dict_table[group].loc[dict_table[group]['Team']==away,'Pts']+=points_away
    
    dict_table[group]=dict_table[group].sort_values('Pts',ascending=False).reset_index()
    dict_table[group]=dict_table[group][['Team','Pts']]
    dict_table[group]=dict_table[group].round(0)

In [31]:
dict_table['Grupo B']

            Team  Pts
0        England  6.0
1          Wales  5.0
2  United States  3.0
3           Iran  2.0

In [32]:
df_fixture_knockout

    Unnamed: 0             home     score                away  year
48          48  Winners Group A  Match 49  Runners-up Group B  2022
49          49  Winners Group C  Match 50  Runners-up Group D  2022
50          50  Winners Group D  Match 52  Runners-up Group C  2022
51          51  Winners Group B  Match 51  Runners-up Group A  2022
52          52  Winners Group E  Match 53  Runners-up Group F  2022
53          53  Winners Group G  Match 54  Runners-up Group H  2022
54          54  Winners Group F  Match 55  Runners-up Group E  2022
55          55  Winners Group H  Match 56  Runners-up Group G  2022

In [43]:
for group in dict_table:
    group_winner=dict_table[group].loc[0,'Team']
    group_runners=dict_table[group].loc[1,'Team']
    df_fixture_knockout.replace({f'Winners {group}':group_winner,f'Runners-up {group}':group_runners},inplace=True)
df_fixture_knockout['winner']='?'

In [44]:
df_fixture_knockout

    Unnamed: 0         home     score         away  year winner
48          48  Netherlands  Match 49        Wales  2022      ?
49          49    Argentina  Match 50      Denmark  2022      ?
50          50       France  Match 52       Poland  2022      ?
51          51      England  Match 51      Senegal  2022      ?
52          52      Germany  Match 53      Belgium  2022      ?
53          53       Brazil  Match 54      Uruguay  2022      ?
54          54      Croatia  Match 55        Spain  2022      ?
55          55     Portugal  Match 56  Switzerland  2022      ?

In [45]:
def get_winner(df_fixture_updated):
    for index, row in df_fixture_updated.iterrows():
        home,away=row['home'],row['away']
        points_home,points_away=predidct_points(home,away)
        if points_home>points_away:
            df_fixture_updated.at[index,'winner']=home
        elif points_home<points_away:
            df_fixture_updated.at[index,'winner']=away
        else:
            df_fixture_updated.at[index,'winner']=home
    return df_fixture_updated

In [49]:
df_fix_ko=get_winner(df_fixture_knockout)

### Cuartos de final

In [73]:
def update_table(df_fixture_round_1,df_fixture_round_2):
    for index, row in df_fixture_round_1.iterrows():
        winner=row['winner']
        match=df_fixture_round_1.loc[index,'score']
        df_fixture_round_2.replace({f'Winners {match}':winner},inplace=True)
    df_fixture_round_2['winner']='?'
    return df_fixture_round_2

In [76]:
df_quarter_up=update_table(df_fix_ko,df_fixture_quarter)

In [77]:
df_quarter_up=get_winner(df_quarter_up)

In [82]:
df_quarter_up

    Unnamed: 0         home     score       away  year       winner
56          56      Germany  Match 58     Brazil  2022       Brazil
57          57  Netherlands  Match 57  Argentina  2022  Netherlands
58          58        Spain  Match 60   Portugal  2022     Portugal
59          59      England  Match 59     France  2022       France

In [83]:
df_semi_up=update_table(df_quarter_up,df_fixture_semi)

In [84]:
df_semi_up=get_winner(df_semi_up)

In [85]:
df_semi_up

    Unnamed: 0         home     score      away  year  winner
60          60  Netherlands  Match 61    Brazil  2022  Brazil
61          61       France  Match 62  Portugal  2022  France

In [86]:
df_final_up=update_table(df_semi_up,df_fixture_final)

In [87]:
df_final_up=get_winner(df_final_up)

In [89]:
df_final_up

,Unnamed: 0,home,score,away,year,winner
62,62,Losers Match 61,Match 63,Losers Match 62,2022,Losers Match 61
63,63,Brazil,Match 64,France,2022,Brazil